.header-list
    display: flex
    align-items: center
    align-content: center
    gap: 20px

.header-item-link
    font-family: Poppins
    font-size: 21px
    font-weight: 400
    line-height: 31.5px
    letter-spacing: 0.03em
    text-align: left

.header-item
    color: #111
    &:hover
        color: #FD6F00
        transform: scale(1.25)
    @media (max-width: 768px)
        .header-item-link
            color: #FFF
            &:hover
                transform: scale(1.25)
